// ------------------------------------------------------------------------
//
//  WORK PAGE
//
// ------------------------------------------------------------------------
// Embed
// ----------------------------------------------------
.video-embed {
  animation: 0.5s fromTop ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin: auto;
  position: relative;
  transform: translateY(-200vh);
  width: 80vw;
  z-index: 1;

  .embed {
    background: transparentize($page-back, 0.5);
    box-shadow: 0 0 20px transparentize($page-back, 0.5);
  }

  @media #{$phone} {
    margin: 0 0 0 auto;
    padding: 10vh 0 0;
  }
}

// ----------------------------------------------------
// Work image
// ----------------------------------------------------
.work-image {
  @include clip(0% 0%, 0% 100%, 0% 100%, 300% 0%);
  animation: 1s ease-in fadeIn;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  background: url('/img/skyline.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  &::after {
    @include cover;
    content: '';
  }

  img {
    display: block;
    margin: auto;
    max-height: 70vh;
  }

  @media #{$phone} {
    background-attachment: scroll;
  }

  @media #{$tablet} {
    background-attachment: scroll;
  }
}

// ----------------------------------------------------
// Work text
// ----------------------------------------------------
.work-text {
  background: $text-back;
  border-radius: 0.5em;
  padding: 2em;
  flex-grow: 1 !important;

  @media #{$phone} {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  h2,
  h3 {
    color: invert($title-color);
  }

  a {
    color: invert($link-color);
    transition: color 0.5s ease-in-out;

    &:hover {
      color: lighten(invert($link-color), 40%);
    }
  }

  p {
    color: $text-color;
    font-size: 0.9em;
    font-weight: 400;
    margin: auto auto 1em;
    max-width: 33em;
  }

  blockquote & {
    font-size: 1.25em;
    font-weight: bold;
  }

  img {
    & + em {
      opacity: 0.6;
      text-align: center;
    }
  }
}

.metadata {
  @media #{$phone} {
    padding: 1.5em;
  }

  h4 {
    color: $title-color;
    font-family: $title-font;
    font-size: 1.5em;
    margin: 1em 0 0;
    text-shadow: 0 2px 2px transparentize($page-back, 0.5);
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    color: transparentize($title-color, 0.3);
    font-size: 0.7em;
    font-weight: 400;
    text-shadow: 0 2px 2px transparentize($page-back, 0.5);
  }

  strong {
    color: $title-color;
    display: block;
    margin-top: 0.4em;
    opacity: 1;
    text-shadow: 0 2px 2px transparentize($page-back, 0.5);
  }
}

// ----------------------------------------------------
// Work page
// ----------------------------------------------------
.work-content {
  margin: 1em auto;
  max-width: 80vw;
  position: relative;

  @media #{$phone} {
    margin: 0 0 0 auto;
  }

  aside {
    padding-bottom: 2em;
    text-align: right;
  }

  h1 {
    animation-fill-mode: forwards;
    animation: 1s fadeIn ease-out;
    color: $title-color;
    font-size: 6vw;
    line-height: 0.8em;
    margin: 0;
    padding: 40vh 0 1em;
    text-align: right;
    text-shadow: 0 2px 2px transparentize($page-back, 0.5);
    text-transform: none;

    .work-video & {
      margin: 0.1em 0 1em;
      padding: 0;
    }

    &::after {
      content: attr(data-type);
      display: block;
      font-size: 0.5em;
      font-weight: normal;
      line-height: 1;
      opacity: 0.3;
    }

    @media #{$phone} {
      font-size: 10vw;
      margin: 1em 0 10vh;
      padding: 0 30px;

      .work-video & {
        margin: 0 30px;
      }
    }
  }
}

// ----------------------------------------------------
// Blocks
// ----------------------------------------------------
.block-image {
  background: no-repeat center;
  background-size: cover;
  border-radius: 0.5em;
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;

  @media #{$phone} {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &::before {
    @include cover;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 1%,
      $light-shadow 30%,
      $mid-shadow 100%
    );
    content: '';
  }

  .block-icon {
    background: $page-back no-repeat center;
    background-size: contain;
    height: 20%;
    position: absolute;
    top: 0;
    width: 20%;
    z-index: 1;

    .odd & {
      left: 0;
    }

    .even & {
      right: 0;
    }
  }
}

.block-text {
  padding: 1em;

  h3 {
    font-size: 3vw;
    margin-bottom: 0;

    .odd & {
      text-align: right;
    }

    .even & {
      text-align: left;
    }

    @media #{$phone} {
      font-size: 1.5em;
    }
  }

  p {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    opacity: 0.7;

    .odd & {
      text-align: right;
    }

    .even & {
      text-align: left;
    }

    @media #{$phone} {
      .odd,
      .even {
        h3,
        p {
          text-align: center;
        }
      }
    }
  }
}

// ----------------------------------------------------
// Big image
// ----------------------------------------------------
.big-image {
  margin: 0.5em 0;

  img {
    width: 100%;
  }
}

// ----------------------------------------------------
// Big image
// ----------------------------------------------------
.gallery {
  box-sizing: border-box;
  margin: 1em 0;

  a {
    padding: 0 0.25em 0.3em 0.25em !important;

    img {
      width: 100%;
      border-radius: 0.5em;
    }
  }
}

// ----------------------------------------------------
// More works
// ----------------------------------------------------
.more-works {
  display: block;
  font-family: $title-font;
  font-size: 3em;
  font-style: oblique;
  font-weight: 100;
  text-align: right;
}

// ----------------------------------------------------
// Phrases
// ----------------------------------------------------
.phrase {
  margin: 3em auto;
  max-width: 70vw;
  text-align: center;

  div {
    font-family: $title-font;
    font-style: oblique;
    font-weight: 400;
  }

  a {
    background: invert($page-back);
    color: $text-color;
    padding: 0 0.25em;
  }

  .embed {
    box-shadow: 0 0 20px transparentize($page-back, 0.7);
    margin-top: 1em;
  }
}

// ----------------------------------------------------
// Blocks
// ----------------------------------------------------
.site-url {
  // @include clip(0 0, 85% 0%, 100% 100%, 0% 100%);
  @include transition(0.5s);
  animation: 0.5s ease-in-out fadeIn;
  background: invert($page-back) url('/svg/globe-black.svg') no-repeat 1em 0.8em;
  background-size: 2em;
  border-radius: 0.3em;
  top: 1em;
  right: 1em;
  color: $page-back;
  filter: invert;
  padding: 1em 3em 1em 4em;
  position: fixed;
  z-index: 1;

  @media #{$phone} {
    border-top: 1px solid transparentize($page-back, 0.9);
    border-radius: 0;
    top: initial;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a {
    color: $page-back;
    font-weight: bold;
  }

  span {
    content: attr(data-label);
    display: block;
    font-size: 0.5em;
    font-weight: bold;
    opacity: 0.5;
    text-transform: uppercase;
  }
}
